In [1]:
import pandas as pd

In [2]:
q05_model_res = pd.read_csv('results/Stage 4/SA-5/results_q05.csv')
q95_model_res = pd.read_csv('results/Stage 4/SA-5/results_q95.csv')
reg_model_res = pd.read_csv('results/Stage 4/SA-5/results_reg.csv')

In [9]:
summary_cols = ['SER_1%', 'SER_2%', 'SER_5%', 'SER_10%', 'SER_25%', 'SER_50%', 'SER_75%', 'RMSE']
reg_model_summary = reg_model_res[summary_cols].mean().to_dict()
q05_model_summary = q05_model_res[summary_cols].mean().to_dict()
q95_model_summary = q95_model_res[summary_cols].mean().to_dict()

summary_dict = {'regular': reg_model_summary,
                'q05': q05_model_summary,
                'q95': q95_model_summary}

pd.DataFrame(summary_dict).T

,SER_1%,SER_2%,SER_5%,SER_10%,SER_25%,SER_50%,SER_75%,RMSE
regular,1.634480,1.050467,0.579996,0.357333,0.183587,0.109952,0.087213,0.078753
q05,3.872444,2.367403,1.123936,0.616672,0.297682,0.180063,0.152956,0.144602
q95,1.593212,1.081264,0.658501,0.438964,0.244349,0.147825,0.116636,0.105120

In [10]:
print(pd.DataFrame(summary_dict).T.to_latex(float_format='%.4f'))

\begin{tabular}{lrrrrrrrr}
\toprule
 & SER_1% & SER_2% & SER_5% & SER_10% & SER_25% & SER_50% & SER_75% & RMSE \\
\midrule
regular & 1.6345 & 1.0505 & 0.5800 & 0.3573 & 0.1836 & 0.1100 & 0.0872 & 0.0788 \\
q05 & 3.8724 & 2.3674 & 1.1239 & 0.6167 & 0.2977 & 0.1801 & 0.1530 & 0.1446 \\
q95 & 1.5932 & 1.0813 & 0.6585 & 0.4390 & 0.2443 & 0.1478 & 0.1166 & 0.1051 \\
\bottomrule
\end{tabular}

In [11]:
reg_model_summary = reg_model_res[summary_cols].std().to_dict()
q05_model_summary = q05_model_res[summary_cols].std().to_dict()
q95_model_summary = q95_model_res[summary_cols].std().to_dict()

summary_dict = {'regular': reg_model_summary,
                'q05': q05_model_summary,
                'q95': q95_model_summary}

pd.DataFrame(summary_dict).T#.to_latex())

,SER_1%,SER_2%,SER_5%,SER_10%,SER_25%,SER_50%,SER_75%,RMSE
regular,0.043214,0.024951,0.014649,0.010122,0.006782,0.004787,0.004266,0.004065
q05,0.012267,0.009603,0.006673,0.004044,0.001766,0.000899,0.000598,0.000447
q95,0.045852,0.030591,0.016898,0.017973,0.011396,0.008295,0.007971,0.007969

In [13]:
print(pd.DataFrame(summary_dict).T.to_latex(float_format='%.4f'))

\begin{tabular}{lrrrrrrrr}
\toprule
 & SER_1% & SER_2% & SER_5% & SER_10% & SER_25% & SER_50% & SER_75% & RMSE \\
\midrule
regular & 0.0432 & 0.0250 & 0.0146 & 0.0101 & 0.0068 & 0.0048 & 0.0043 & 0.0041 \\
q05 & 0.0123 & 0.0096 & 0.0067 & 0.0040 & 0.0018 & 0.0009 & 0.0006 & 0.0004 \\
q95 & 0.0459 & 0.0306 & 0.0169 & 0.0180 & 0.0114 & 0.0083 & 0.0080 & 0.0080 \\
\bottomrule
\end{tabular}

In [5]:
q05_model_res = pd.read_csv('results/Stage 5/SA-5/results_q05.csv')
q95_model_res = pd.read_csv('results/Stage 5/SA-5/results_q95.csv')
reg_model_res = pd.read_csv('results/Stage 5/SA-5/results_reg.csv')

In [6]:
summary_cols = ['SER_1%', 'SER_2%', 'SER_5%', 'SER_10%', 'SER_25%', 'SER_50%', 'SER_75%', 'RMSE']
reg_model_summary = reg_model_res[summary_cols].mean().to_dict()
q05_model_summary = q05_model_res[summary_cols].mean().to_dict()
q95_model_summary = q95_model_res[summary_cols].mean().to_dict()

summary_dict = {'regular': reg_model_summary,
                'q05': q05_model_summary,
                'q95': q95_model_summary}

pd.DataFrame(summary_dict).T#.to_latex())

,SER_1%,SER_2%,SER_5%,SER_10%,SER_25%,SER_50%,SER_75%,RMSE
regular,1.903642,1.241512,0.673593,0.427232,0.226529,0.133547,0.105082,0.094338
q05,2.064665,1.295981,0.668358,0.379063,0.186003,0.110979,0.088471,0.080130
q95,1.776312,1.204987,0.699879,0.472659,0.270354,0.162979,0.127680,0.114181

In [7]:
reg_model_summary = reg_model_res[summary_cols].std().to_dict()
q05_model_summary = q05_model_res[summary_cols].std().to_dict()
q95_model_summary = q95_model_res[summary_cols].std().to_dict()

summary_dict = {'regular': reg_model_summary,
                'q05': q05_model_summary,
                'q95': q95_model_summary}

pd.DataFrame(summary_dict).T#.to_latex())

,SER_1%,SER_2%,SER_5%,SER_10%,SER_25%,SER_50%,SER_75%,RMSE
regular,0.105187,0.065149,0.029163,0.021537,0.013338,0.007529,0.005889,0.005336
q05,0.058097,0.030605,0.015444,0.009128,0.004565,0.003132,0.002837,0.002742
q95,0.156334,0.083560,0.051097,0.043417,0.029445,0.016115,0.011889,0.010363

In [1]:
import os
import pandas as pd

In [2]:
pd.set_option("display.precision", 4)

In [3]:
res_dir = 'results/Stage 6/'

In [4]:
summary_cols = ['SER_1%', 'SER_2%', 'SER_5%', 'SER_10%', 'SER_25%', 'SER_50%', 'SER_75%', 'RMSE']

summary_list = []


for state_res in os.listdir(res_dir):

    q05_model_res = pd.read_csv(f'{res_dir}/{state_res}/results_q05.csv')
    q95_model_res = pd.read_csv(f'{res_dir}/{state_res}/results_q95.csv')
    reg_model_res = pd.read_csv(f'{res_dir}/{state_res}/results_reg.csv')
    
    reg_model_summary = reg_model_res[summary_cols].mean()
    q05_model_summary = q05_model_res[summary_cols].mean()
    q95_model_summary = q95_model_res[summary_cols].mean()
    
    summary_dict = {'regular': reg_model_summary,
                    'q=0.05': q05_model_summary,
                    'q=0.95': q95_model_summary}

    summary_df = pd.DataFrame(summary_dict).T
    summary_df.index.name = 'Model' 
    summary_df = summary_df.reset_index()

    summary_df.loc[:, 'State'] = state_res.split('-')[0]

    summary_list.append(summary_df)
    

summary_df = pd.concat(summary_list, axis=0)
summary_df = summary_df.set_index(['State', 'Model'])

summary_df

               SER_1%  SER_2%  SER_5%  SER_10%  SER_25%  SER_50%  SER_75%  \
State Model
NT    regular  1.2810  0.8192  0.4845   0.3194   0.1621   0.0827   0.0618
      q=0.05   1.8632  1.2321  0.7665   0.5174   0.2520   0.1275   0.0963
      q=0.95   1.1136  0.7152  0.4377   0.3100   0.1810   0.0946   0.0705
NSW   regular  1.3857  0.9052  0.4724   0.2709   0.1214   0.0654   0.0449
      q=0.05   1.5695  1.0295  0.5494   0.3163   0.1412   0.0752   0.0512
      q=0.95   1.2753  0.8306  0.4350   0.2557   0.1194   0.0655   0.0452
ACT   regular  1.7718  1.1026  0.4953   0.2621   0.1182   0.0623   0.0423
      q=0.05   1.9456  1.1943  0.5291   0.2756   0.1222   0.0637   0.0427
      q=0.95   1.5312  1.0087  0.4852   0.2759   0.1355   0.0756   0.0529
WA    regular  2.2494  1.8241  1.1968   0.8022   0.4337   0.2719   0.2097
      q=0.05   3.3430  2.7612  1.9196   1.2671   0.6159   0.3499   0.2675
      q=0.95   1.7287  1.4083  0.9988   0.7465   0.5152   0.3706   0.2869
SA    regular  1.5887  1.0652  0.5973   0.3534   0.1778   0.0930   0.0633
      q=0.05   2.2325  1.4956  0.8305   0.4787   0.2226   0.1151   0.0789
      q=0.95   1.4409  1.0195  0.6268   0.4112   0.2318   0.1249   0.0854
QLD   regular  1.2907  0.8690  0.5061   0.3282   0.1559   0.0827   0.0557
      q=0.05   1.6486  1.1355  0.6691   0.4291   0.2003   0.1053   0.0708
      q=0.95   1.0673  0.7300  0.4512   0.3187   0.1709   0.0947   0.0645

                 RMSE
State Model
NT    regular  0.0519
      q=0.05   0.0816
      q=0.95   0.0590
NSW   regular  0.0352
      q=0.05   0.0398
      q=0.95   0.0355
ACT   regular  0.0325
      q=0.05   0.0326
      q=0.95   0.0412
WA    regular  0.1809
      q=0.05   0.2316
      q=0.95   0.2423
SA    regular  0.0528
      q=0.05   0.0674
      q=0.95   0.0717
QLD   regular  0.0422
      q=0.05   0.0536
      q=0.95   0.0491

In [5]:
print(summary_df.to_latex(float_format='%.4f'))

\begin{tabular}{llrrrrrrrr}
\toprule
 &  & SER_1% & SER_2% & SER_5% & SER_10% & SER_25% & SER_50% & SER_75% & RMSE \\
State & Model &  &  &  &  &  &  &  &  \\
\midrule
\multirow[t]{3}{*}{NT} & regular & 1.2810 & 0.8192 & 0.4845 & 0.3194 & 0.1621 & 0.0827 & 0.0618 & 0.0519 \\
 & q=0.05 & 1.8632 & 1.2321 & 0.7665 & 0.5174 & 0.2520 & 0.1275 & 0.0963 & 0.0816 \\
 & q=0.95 & 1.1136 & 0.7152 & 0.4377 & 0.3100 & 0.1810 & 0.0946 & 0.0705 & 0.0590 \\
\cline{1-10}
\multirow[t]{3}{*}{NSW} & regular & 1.3857 & 0.9052 & 0.4724 & 0.2709 & 0.1214 & 0.0654 & 0.0449 & 0.0352 \\
 & q=0.05 & 1.5695 & 1.0295 & 0.5494 & 0.3163 & 0.1412 & 0.0752 & 0.0512 & 0.0398 \\
 & q=0.95 & 1.2753 & 0.8306 & 0.4350 & 0.2557 & 0.1194 & 0.0655 & 0.0452 & 0.0355 \\
\cline{1-10}
\multirow[t]{3}{*}{ACT} & regular & 1.7718 & 1.1026 & 0.4953 & 0.2621 & 0.1182 & 0.0623 & 0.0423 & 0.0325 \\
 & q=0.05 & 1.9456 & 1.1943 & 0.5291 & 0.2756 & 0.1222 & 0.0637 & 0.0427 & 0.0326 \\
 & q=0.95 & 1.5312 & 1.0087 & 0.4852 & 0.2759 & 0.1355 & 0.0756 & 0.0529 & 0.0412 \\
\cline{1-10}
\multirow[t]{3}{*}{WA} & regular & 2.2494 & 1.8241 & 1.1968 & 0.8022 & 0.4337 & 0.2719 & 0.2097 & 0.1809 \\
 & q=0.05 & 3.3430 & 2.7612 & 1.9196 & 1.2671 & 0.6159 & 0.3499 & 0.2675 & 0.2316 \\
 & q=0.95 & 1.7287 & 1.4083 & 0.9988 & 0.7465 & 0.5152 & 0.3706 & 0.2869 & 0.2423 \\
\cline{1-10}
\multirow[t]{3}{*}{SA} & regular & 1.5887 & 1.0652 & 0.5973 & 0.3534 & 0.1778 & 0.0930 & 0.0633 & 0.0528 \\
 & q=0.05 & 2.2325 & 1.4956 & 0.8305 & 0.4787 & 0.2226 & 0.1151 & 0.0789 & 0.0674 \\
 & q=0.95 & 1.4409 & 1.0195 & 0.6268 & 0.4112 & 0.2318 & 0.1249 & 0.0854 & 0.0717 \\
\cline{1-10}
\multirow[t]{3}{*}{QLD} & regular & 1.2907 & 0.8690 & 0.5061 & 0.3282 & 0.1559 & 0.0827 & 0.0557 & 0.0422 \\
 & q=0.05 & 1.6486 & 1.1355 & 0.6691 & 0.4291 & 0.2003 & 0.1053 & 0.0708 & 0.0536 \\
 & q=0.95 & 1.0673 & 0.7300 & 0.4512 & 0.3187 & 0.1709 & 0.0947 & 0.0645 & 0.0491 \\
\cline{1-10}
\bottomrule
\end{tabular}

In [6]:
summary_cols = ['SER_1%', 'SER_2%', 'SER_5%', 'SER_10%', 'SER_25%', 'SER_50%', 'SER_75%', 'RMSE']

summary_list = []


for state_res in os.listdir(res_dir):

    q05_model_res = pd.read_csv(f'{res_dir}/{state_res}/results_q05.csv')
    q95_model_res = pd.read_csv(f'{res_dir}/{state_res}/results_q95.csv')
    reg_model_res = pd.read_csv(f'{res_dir}/{state_res}/results_reg.csv')
    
    reg_model_summary = reg_model_res[summary_cols].std()
    q05_model_summary = q05_model_res[summary_cols].std()
    q95_model_summary = q95_model_res[summary_cols].std()
    
    summary_dict = {'regular': reg_model_summary,
                    'q=0.05': q05_model_summary,
                    'q=0.95': q95_model_summary}

    summary_df = pd.DataFrame(summary_dict).T
    summary_df.index.name = 'Model' 
    summary_df = summary_df.reset_index()

    summary_df.loc[:, 'State'] = state_res.split('-')[0]

    summary_list.append(summary_df)
    

summary_df = pd.concat(summary_list, axis=0)
summary_df = summary_df.set_index(['State', 'Model'])

summary_df

               SER_1%  SER_2%  SER_5%  SER_10%  SER_25%  SER_50%  SER_75%  \
State Model
NT    regular  0.0262  0.0190  0.0124   0.0078   0.0032   0.0016   0.0011
      q=0.05   0.0078  0.0057  0.0041   0.0030   0.0016   0.0008   0.0005
      q=0.95   0.0156  0.0097  0.0074   0.0092   0.0093   0.0053   0.0036
NSW   regular  0.0138  0.0100  0.0070   0.0050   0.0021   0.0010   0.0008
      q=0.05   0.0144  0.0116  0.0085   0.0050   0.0020   0.0010   0.0007
      q=0.95   0.0126  0.0085  0.0058   0.0054   0.0036   0.0020   0.0014
ACT   regular  0.0431  0.0230  0.0097   0.0055   0.0026   0.0015   0.0011
      q=0.05   0.0221  0.0104  0.0059   0.0036   0.0017   0.0009   0.0006
      q=0.95   0.0336  0.0231  0.0135   0.0101   0.0064   0.0042   0.0031
WA    regular  0.0519  0.0396  0.0229   0.0125   0.0034   0.0053   0.0039
      q=0.05   0.0239  0.0200  0.0161   0.0126   0.0068   0.0038   0.0026
      q=0.95   0.0327  0.0228  0.0152   0.0126   0.0166   0.0179   0.0148
SA    regular  0.0235  0.0158  0.0111   0.0084   0.0056   0.0031   0.0021
      q=0.05   0.0124  0.0093  0.0062   0.0040   0.0018   0.0009   0.0006
      q=0.95   0.0341  0.0265  0.0182   0.0144   0.0137   0.0081   0.0054
QLD   regular  0.0150  0.0110  0.0065   0.0041   0.0017   0.0008   0.0005
      q=0.05   0.0183  0.0127  0.0088   0.0057   0.0026   0.0013   0.0009
      q=0.95   0.0108  0.0051  0.0047   0.0050   0.0034   0.0019   0.0013

                 RMSE
State Model
NT    regular  0.0008
      q=0.05   0.0004
      q=0.95   0.0028
NSW   regular  0.0006
      q=0.05   0.0005
      q=0.95   0.0011
ACT   regular  0.0009
      q=0.05   0.0005
      q=0.95   0.0025
WA    regular  0.0032
      q=0.05   0.0019
      q=0.95   0.0122
SA    regular  0.0018
      q=0.05   0.0005
      q=0.95   0.0043
QLD   regular  0.0004
      q=0.05   0.0007
      q=0.95   0.0010

In [7]:
print(summary_df.to_latex(float_format='%.4f'))

\begin{tabular}{llrrrrrrrr}
\toprule
 &  & SER_1% & SER_2% & SER_5% & SER_10% & SER_25% & SER_50% & SER_75% & RMSE \\
State & Model &  &  &  &  &  &  &  &  \\
\midrule
\multirow[t]{3}{*}{NT} & regular & 0.0262 & 0.0190 & 0.0124 & 0.0078 & 0.0032 & 0.0016 & 0.0011 & 0.0008 \\
 & q=0.05 & 0.0078 & 0.0057 & 0.0041 & 0.0030 & 0.0016 & 0.0008 & 0.0005 & 0.0004 \\
 & q=0.95 & 0.0156 & 0.0097 & 0.0074 & 0.0092 & 0.0093 & 0.0053 & 0.0036 & 0.0028 \\
\cline{1-10}
\multirow[t]{3}{*}{NSW} & regular & 0.0138 & 0.0100 & 0.0070 & 0.0050 & 0.0021 & 0.0010 & 0.0008 & 0.0006 \\
 & q=0.05 & 0.0144 & 0.0116 & 0.0085 & 0.0050 & 0.0020 & 0.0010 & 0.0007 & 0.0005 \\
 & q=0.95 & 0.0126 & 0.0085 & 0.0058 & 0.0054 & 0.0036 & 0.0020 & 0.0014 & 0.0011 \\
\cline{1-10}
\multirow[t]{3}{*}{ACT} & regular & 0.0431 & 0.0230 & 0.0097 & 0.0055 & 0.0026 & 0.0015 & 0.0011 & 0.0009 \\
 & q=0.05 & 0.0221 & 0.0104 & 0.0059 & 0.0036 & 0.0017 & 0.0009 & 0.0006 & 0.0005 \\
 & q=0.95 & 0.0336 & 0.0231 & 0.0135 & 0.0101 & 0.0064 & 0.0042 & 0.0031 & 0.0025 \\
\cline{1-10}
\multirow[t]{3}{*}{WA} & regular & 0.0519 & 0.0396 & 0.0229 & 0.0125 & 0.0034 & 0.0053 & 0.0039 & 0.0032 \\
 & q=0.05 & 0.0239 & 0.0200 & 0.0161 & 0.0126 & 0.0068 & 0.0038 & 0.0026 & 0.0019 \\
 & q=0.95 & 0.0327 & 0.0228 & 0.0152 & 0.0126 & 0.0166 & 0.0179 & 0.0148 & 0.0122 \\
\cline{1-10}
\multirow[t]{3}{*}{SA} & regular & 0.0235 & 0.0158 & 0.0111 & 0.0084 & 0.0056 & 0.0031 & 0.0021 & 0.0018 \\
 & q=0.05 & 0.0124 & 0.0093 & 0.0062 & 0.0040 & 0.0018 & 0.0009 & 0.0006 & 0.0005 \\
 & q=0.95 & 0.0341 & 0.0265 & 0.0182 & 0.0144 & 0.0137 & 0.0081 & 0.0054 & 0.0043 \\
\cline{1-10}
\multirow[t]{3}{*}{QLD} & regular & 0.0150 & 0.0110 & 0.0065 & 0.0041 & 0.0017 & 0.0008 & 0.0005 & 0.0004 \\
 & q=0.05 & 0.0183 & 0.0127 & 0.0088 & 0.0057 & 0.0026 & 0.0013 & 0.0009 & 0.0007 \\
 & q=0.95 & 0.0108 & 0.0051 & 0.0047 & 0.0050 & 0.0034 & 0.0019 & 0.0013 & 0.0010 \\
\cline{1-10}
\bottomrule
\end{tabular}

In [ ]:
\begin{tabular}{llrrrrrrrr}
\toprule
 &  & SER_1% & SER_2% & SER_5% & SER_10% & SER_25% & SER_50% & SER_75% & RMSE \\
State & Model &  &  &  &  &  &  &  &  \\
\midrule
\multirow[t]{3}{*}{NT} &  & ±0.0262 & ±0.0190 & ±0.0124 & ±0.0078 & ±0.0032 & ±0.0016 & ±0.0011 & ±0.0008 \\
 &  & ±0.0078 & ±0.0057 & ±0.0041 & ±0.0030 & ±0.0016 & ±0.0008 & ±0.0005 & ±0.0004 \\
 &  & ±0.0156 & ±0.0097 & ±0.0074 & ±0.0092 & ±0.0093 & ±0.0053 & ±0.0036 & ±0.0028 \\
\cline{1-10}
\multirow[t]{3}{*}{NSW} &  & ±0.0138 & ±0.0100 & ±0.0070 & ±0.0050 & ±0.0021 & ±0.0010 & ±0.0008 & ±0.0006 \\
 &  & ±0.0144 & ±0.0116 & ±0.0085 & ±0.0050 & ±0.0020 & ±0.0010 & ±0.0007 & ±0.0005 \\
 &  & ±0.0126 & ±0.0085 & ±0.0058 & ±0.0054 & ±0.0036 & ±0.0020 & ±0.0014 & ±0.0011 \\
\cline{1-10}
\multirow[t]{3}{*}{ACT} &  & ±0.0431 & ±0.0230 & ±0.0097 & ±0.0055 & ±0.0026 & ±0.0015 & ±0.0011 & ±0.0009 \\
 &  & ±0.0221 & ±0.0104 & ±0.0059 & ±0.0036 & ±0.0017 & ±0.0009 & ±0.0006 & ±0.0005 \\
 &  & ±0.0336 & ±0.0231 & ±0.0135 & ±0.0101 & ±0.0064 & ±0.0042 & ±0.0031 & ±0.0025 \\
\cline{1-10}
\multirow[t]{3}{*}{WA} &  & ±0.0519 & ±0.0396 & ±0.0229 & ±0.0125 & ±0.0034 & ±0.0053 & ±0.0039 & ±0.0032 \\
 &  & ±0.0239 & ±0.0200 & ±0.0161 & ±0.0126 & ±0.0068 & ±0.0038 & ±0.0026 & ±0.0019 \\
 &  & ±0.0327 & ±0.0228 & ±0.0152 & ±0.0126 & ±0.0166 & ±0.0179 & ±0.0148 & ±0.0122 \\
\cline{1-10}
\multirow[t]{3}{*}{SA} &  & ±0.0235 & ±0.0158 & ±0.0111 & ±0.0084 & ±0.0056 & ±0.0031 & ±0.0021 & ±0.0018 \\
 &  & ±0.0124 & ±0.0093 & ±0.0062 & ±0.0040 & ±0.0018 & ±0.0009 & ±0.0006 & ±0.0005 \\
 &  & ±0.0341 & ±0.0265 & ±0.0182 & ±0.0144 & ±0.0137 & ±0.0081 & ±0.0054 & ±0.0043 \\
\cline{1-10}
\multirow[t]{3}{*}{QLD} &  & ±0.0150 & ±0.0110 & ±0.0065 & ±0.0041 & ±0.0017 & ±0.0008 & ±0.0005 & ±0.0004 \\
 &  & ±0.0183 & ±0.0127 & ±0.0088 & ±0.0057 & ±0.0026 & ±0.0013 & ±0.0009 & ±0.0007 \\
 &  & ±0.0108 & ±0.0051 & ±0.0047 & ±0.0050 & ±0.0034 & ±0.0019 & ±0.0013 & ±0.0010 \\
\cline{1-10}
\bottomrule
\end{tabular}